html {
    box-sizing: border-box;
    scroll-behavior: smooth !important;
}
*,
*:before,
*:after {
    box-sizing: inherit;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
}

a {
    display: block;
    text-decoration: none;
    cursor: pointer;
}
a,
a:visited,
a:hover,
a:active {
    color: #000;
}
a:hover {
    text-decoration: underline;
}

html,
body,
main {
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
}

.books-container {
    transition: all 225ms ease-out;
}

main {
    overflow: auto;
    -ms-scroll-snap-type: y mandatory;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
header,
footer {
    padding-inline: 10px;
    opacity: 1;
    transition: opacity 225ms ease-out;
}
.header__logo {
    max-width: 300px;
    width: 100%;
    margin-block: 10px;
}

.header__email {
    font-weight: 600;
}

.book {
    height: 100vh;
    width: 100%;
    position: relative;
    scroll-snap-align: start;
    transition: background-color 225ms ease-out;
}
.book__details {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    max-width: 450px;

    display: flex;
    flex-direction: column;
    align-items: center;

}
.book__img {
    width: 100%;
   
}
.book__number{
    font-weight: 800;
}

footer {
    position: fixed;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.company-description {
    max-width: 30ch;
    font-weight: 800;
}



 @media only screen and (max-width: 875px) {
    footer,header{
        opacity: 0;
    }
 }